<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="formLogin" (ngSubmit)="DoLogin()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput  [(ngModel)]="email" formControlName="email" type="text" id="email" name="email"
          placeholder="Email" [ngClass]="{'is-invalid': submitted && f.email.errors }">
        </mat-form-field>
        <div class="text-danger" *ngIf="submitted && f?.email?.errors">
          <div *ngIf="f?.email?.errors?.required">email is required</div>
          <div *ngIf="f?.email?.errors?.email">email n'est pas valide</div>
        </div>
        <mat-form-field class="example-full-width">
          <input matInput [(ngModel)]="password" formControlName="password" type="password" id="password"
          name="password" placeholder="Password">
        </mat-form-field>
        <div class="text-danger" *ngIf="submitted && f?.password?.errors">
          <div *ngIf="f?.password?.errors?.required">password is required</div>
          <div *ngIf="f?.password?.errors?.minlength">password n'est pas valide</div>
        </div>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Log in</button>
    </form>
  </mat-card>

</div>

</body>
</html>
