
<div class="row">
  <div class="col-2 p-0">
        <!-- Sidebar navigation -->
          <mat-sidenav-container>

            <mat-sidenav-content>
              <!-- Logo -->
              <div class="mb-5">
                <div class="logo-wrapper waves-light">
                  <a routerLink="#"><img src="assets/images/Logo-Sonatel-Academy-480_1-1.png" class="img-fluid flex-center"></a>
                </div>
              </div>
              <!--/. Logo -->
              <mat-nav-list >
              <a mat-list-item routerLink="">MENU</a>
              <mat-divider></mat-divider>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">

                    <mat-expansion-panel-header>
                      <mat-panel-title>
                     Utilisateurs
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLink="users">Liste des utilisateurs</a>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-divider></mat-divider>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      Profils
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLink="profils">Liste des Profils</a>
                    <a mat-list-item routerLink="addprofil">Ajoiuter Profils</a>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-divider></mat-divider>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       Apprenants
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLink="">Liste des Apprenants</a>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-divider></mat-divider>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      Competences
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item routerLink="">Liste des Competences</a>
                  </mat-expansion-panel>
                </mat-accordion>
            </mat-nav-list>
            </mat-sidenav-content>
          </mat-sidenav-container>
        <!--/. Sidebar navigation -->
  </div>
  <div class="col-10 p-0">
    <mat-toolbar  class="navbar">
      <div>Sonatel Academy</div>
      <div>
      <button mat-button [matMenuTriggerFor]="settings"><i class="material-icons">view_headline</i>
        <mat-menu #settings="matMenu">
        <button mat-menu-item>Acceuille</button>
          <mat-divider></mat-divider>
        <button mat-menu-item>Se Déconnecter</button>
          <mat-divider></mat-divider>
        <button mat-menu-item>A Propos</button>
      </mat-menu>
      </button>
      </div>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </div>
</div>




